*
{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-decoration: none;
}
a
{
    color: black;
}
header
{
    height: 8rem;
    width: auto;
    position: relative;
}

#links 
{
    margin-right: 30px;
    float: right;
}

#header_img
{
    position: relative;
    left: 2rem;
    float: left;
}
#header_text
{
    position: relative;
    top: 1.2rem;
    left: 1rem;
    width: 400px;
    margin-left: 175px;
    font-size: 2.1rem;
}

.header_nav > ul
{
    float: right;
    padding-top: 2rem;
    list-style: none;
    margin-top: -0.8rem;
    margin-bottom: -5px;
}
.header_nav >ul > li
{
    margin-right: 2rem;
    float: left;
    font-size: 1.5rem;
}

.side_nav
{
    margin: -2px 0px 0px 4rem;
    width: 250px;
    border : solid 1px black;
    border-collapse: collapse;
    float: left;
}
.side_nav > ul
{
    margin-top: -0.1rem;
    padding-left: 0;
    list-style-type: none;
}
.side_nav > ul #first
{
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    line-height : 100px;
    color: white;
    font-size: 30px;
    background-color: rgb(16,112,181);
} 
.side_nav > ul #loc
{
    text-align: center;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    color: white;
    background-color: rgb(105,107,111);
    padding-right:  9rem;
    margin-bottom: -10px;
}
#rest
{
    margin-left:  1.5rem;
    height: 30px;
    line-height: 32px;
    font-weight: bold;
}
#last
{
    margin-left: 1.5rem;    
    height: 30px;
    line-height: 32px;
    font-weight: bold;
}

section > article
{
    margin-left: 232px;
    height: 100px;
    margin-top: -15px;
}  

#main_container
{
    height: 158px;
    text-align: center;
    background-color: rgb(242,242,242);
}
#text1
{
    position: relative;
    height: 50px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    line-height: 6rem;
    margin-top: 1rem;
}
#text2
{
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

#mid
{
    margin: -1rem 0 0 4rem;
    padding-left: 6rem;
    width: 30%;
}
#strong
{
    color: rgb(16,111,180);
    font-size: 2rem;
    font-weight: bolder;
    width: 3.5rem;
}
#text_loc
{
    margin: -4.3rem 0 0 4.5rem;
    font-size: 1.8rem;
    left: 4rem;
}

#input_container
{
    margin: 1rem 0 0 8rem;
    width: 80%;
    height: 15rem;
    background-color: rgb(227,227,227);
    top: 1rem;
    left: 10rem;
}
#in_id
{
    margin: 3rem 0 0 5rem;
    height: 3rem;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 1rem;
    border : solid 1px black;
    padding-left: 1rem;
}
#in_pw
{
    margin: 2.5rem 0 0 5rem;
    top: 9rem;
    left: 5rem;
    height: 3rem;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 1rem;
    border : solid 1px black;
    padding-left: 1rem;
}
#login_btn
{
    display: flex;
    margin: -8rem 0 0 70%;
    padding: 1.8rem 0 0 2.5rem;
    height: 6rem;
    width: 10rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background-color: rgb(18,111,178);
    color: white;
}