*
{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-decoration: none;
}
a
{
    color: black;
}
header
{
    height: 130px;
    width: auto;
    position: relative;
}

#links 
{
    margin-right: 30px;
    float: right;
}

#header_img
{
    float: left;
}
#header_text
{
    width: 500px;
    margin-left: 175px;
    font-size: 2.1rem;
}
.header_nav
{
    height: 10px;
}
.header_nav > ul
{
    float: right;
    list-style: none;
    margin-top: 15px;
}
.header_nav >ul > li
{
    margin-right: 15px;
    float: left;
    font-size: 20px;
}

.side_nav
{
    margin: -2px 0px 0px 4rem;
    width: 250px;
    border : solid 1px black;
    display : table;
    border-collapse: collapse;
    float: left;
}
.side_nav > ul
{
    top: -16px;
    padding-left: 0;
    position: relative;
    list-style-type: none;
}
.side_nav > ul #first
{
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    line-height : 100px;
    color: white;
    font-size: 30px;
    background-color: rgb(16,112,181);
} 
.side_nav > ul #loc
{
    text-align: center;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    color: white;
    background-color: rgb(105,107,111);
    padding-right:  9rem;
    margin-bottom: -10px;
}
#rest
{
    margin-left:  1.5rem;
    height: 30px;
    line-height: 32px;
    font-weight: bold;
}
#last
{
    margin-left: 1.5rem;    
    height: 30px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: -20px;
}

section > article
{
    margin-left: 232px;
    height: 100px;
}  

#main_container
{
    height: 158px;
    margin-top: -15px;
    margin-left: 2rem;
    background-color: rgb(242,242,242);
}
#text1
{
    height: 50px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    line-height: 8rem;
    margin-top: 1rem;
}
#text2
{
    font-size: 20px;
    text-align: center;
    margin-top: 3rem;
}

#mid_container
{
    margin: 2rem 0 0 4rem;
    padding-left: 6rem;
    width: 15rem;
}
#string
{
    color: rgb(16,111,180);
    font-size: 2rem;
    font-weight: bolder;
    width: 3.5rem;
}
#text_loc
{
    position: relative;
    font-size: 1.8rem;
    top: -4.2rem;
    left: 4rem;
}

#input_container
{
    position: relative;
    width: 80%;
    height: 18rem;
    background-color: rgb(207,207,207);
    top: -5rem;
    left: 10rem;
}
#input_container > input
{
    border-radius: 2px;
}