*
{
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-decoration: none;
}
a
{
    color: black;
}
header
{
    height: 8rem;
    width: auto;
}

#links 
{
    margin-right: 30px;
    float: right;
}

#header_img
{
    position: relative;
    left: 2rem;
    float: left;
}
#header_text
{
    position: relative;
    top: 1.2rem;
    left: 1rem;
    width: 400px;
    margin-left: 175px;
    font-size: 2.1rem;
}

.header_nav > ul
{
    float: right;
    padding-top: 2rem;
    list-style: none;
    margin-top: -0.8rem;
    margin-bottom: -5px;
}
.header_nav >ul > li
{
    margin-right: 2rem;
    float: left;
    font-size: 1.5rem;
}

section > article
{
    margin-left: 232px;
    height: 100px;
    margin-top: -15px;
} 
.side_nav
{
    margin: -0.2rem 0rem 0rem 4rem; 
    width: 250px;
    border : solid 1px black;
    border-collapse: collapse;
    float: left;

}
.side_nav > ul
{
    padding-left: 0;
    list-style-type: none;
}
.side_nav > ul #first
{
    margin-top: -1rem;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    line-height : 100px;
    color: white;
    font-size: 30px;
    background-color: rgb(16,112,181);
} 
.side_nav > ul #loc
{
    text-align: center;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    color: white;
    background-color: rgb(105,107,111);
    padding-right:  9rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
}
#rest
{
    margin-left:  1.5rem;
    height: 2.3rem;
    line-height: 32px;
    font-weight: bold;
}
#last
{
    margin-left: 1.5rem;    
    height: 30px;
    line-height: 32px;
    font-weight: bold;
}
#login
{
    margin-left:  1.5rem;
    height: 3rem;
    line-height: 3.5rem;
    font-weight: bold;
}

#main_container
{
    margin-left: 5.2rem;
    background-color: rgb(242, 242, 242);
    text-align: center;
    height: 9.7rem;
}

#text1
{
    height: 50px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    line-height: 8rem;
    margin-top: 1rem;
}
#text2
{
    font-size: 20px;
    text-align: center;
    margin-top: 2.5rem;
}

#mid
{
    margin: -1rem 0 0 4rem;
    padding-left: 6rem;
    width: 30%;
}
#strong
{
    color: rgb(16,111,180);
    font-size: 2rem;
    font-weight: bolder;
}
#mid_text
{
    margin: -4.4rem 0 0 4rem;
    font-size: 2rem;
}

#input_container
{
    margin: 7.5rem 0 0 27%;
    width: 65%;
    height: 20rem;
    background-color: rgb(227,227,227);
    top: -5.5rem;
    left: 10rem;
}

form>input{
    font-size: 1.5rem;
    height: 3rem;
    border-radius: 1rem;
    border : solid 1px black;
    padding-left: 1rem;
}

#name
{
    margin: 1.5rem 0 0 2rem;
    width: 10rem;
    background-color: rgb(248,248,248);
}
#class
{
    margin: 1.5rem 0 0 2rem;
    width: 13rem;
    background-color: rgb(248,248,248);
}
#tel
{
    display: flex;
    margin: 1.5rem 0 0 2rem;
    background-color: rgb(248,248,248);
}
#in_id
{
    margin: 1rem 0 0 2rem;
    background-color: rgb(248,248,248);
}
#in_pw
{
    display: flex;
    margin: 1rem 0 0 2rem;
    background-color: rgb(248,248,248);
}
#register
{
    display: flex;
    background-color: rgb(18,111,178);
    margin: -11rem 0 0 70%;
    padding: 0 0 0 2.5rem;
    color: white;
    height: 6rem;
    width: 10rem;
    font-weight: bolder;
    border : none;
}