*{
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans KR', sans-serif;
}


header{
  width: 100%;
  /* border: 1px solid black; */
  /* border: 1px solid white; */
  /* color: white; */
  background-color: rgba(255, 255, 255);
  z-index: 10;
  position: fixed;
}

.header_top{
  display: flex;
  justify-content: end;
}

.logo_box{
  display: flex;
  align-items: center;
  font-size: 23px;
  text-align: left;
}

.logo_box a{
  all: unset;
  cursor: pointer;
  display: flex;
}

.logo_box img{
  margin-right: 10px;
}

.sub_nav{
  display: flex;
  margin-top: 20px;
  margin-right: 200px;
  justify-content: space-between;
  font-size: 15px;
}

.sub_nav li, .sub_nav a, .main_nav li, .main_nav a{
  all: unset;
}

.sub_nav a, .main_nav a{
  cursor: pointer;
}

.sub_nav :last-child{
  margin-left: 15px;
}

.main_nav li::after{
  content:"";
  width: 0%;
  background-color: black;
  display: block;
  transition: 0.5s;
  height: 0px;
  height: 2px;
}

.main_nav li:hover{
  font-weight: 800;
}

.main_nav li:hover::after{
  width: 100%;  
}

.header_bottom{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 170px;
  text-align: end;
  padding-left: 150px;
  padding-bottom: 15px;
  box-shadow: -1px 3px 3px 0px rgb(70, 70, 70);
}

.main_nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_nav li{
  padding-right: 30px;
  font-size: 18px;
}

.search_section{
  padding-top: 300px;
  padding-bottom: 80px;
  display: flex;
  align-items:center;
  flex-direction: column;
  background-image: url(../img/제목\ 없음-2.png);
  background-size: cover;
}

.cont{
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.cont>h1{
  margin-bottom: -200px;  
  font-size: 30px;
  /* font-weight: 900; */
  padding-left: 10px;
  /* color: black; */
  color: white;
}

.search_bar{
  all: unset;
  /* padding-top: 120px; */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.search_bar input{
  width: 1200px;
  height: 35px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.288);
  /* margin-left: -350px; */
  margin-right: 10px;
  padding: 20px;
  font-size: 18px;
}

.search_bar button{
  all: unset;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: -75px;
}

.search_bar button img{
  padding-top: 3px;
  width: 45px;
  height: 45px;
}

.open_time{
  margin-top: -110px;
  padding-bottom: 30px;
  color: white;
  font-size: 25px;
}

.logo{
  all: unset;
  cursor: pointer;
}

body{
  background-color: white;
}
.notice_section{
  padding-top: 50px;
  padding-left: 150px;
}

.event_section{
  padding-top: 50px;
  padding-left: 150px;
}

footer{
  background-color: rgb(233, 238, 243);
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
}

.footertop{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.ftlogo{
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-right: 80px;
  align-items: center;
}

.fttitle{
  font-size: 25px !important;
}

.footertop h1{
  font-size: 20px;
  padding-bottom: 5px;
}

.ftlogo img{
  width: 80px;
  height: 80px;
  padding-right: 15px;
}

.ask{
  padding-right: 80px;
}

.copyright{
  padding-bottom: 10px;
}

.notice_list li, .notice_list li a{
  all: unset;
  display: flex;
  flex-direction: column; 
  cursor: pointer;
}

.event_title{
  padding-top: 20px;
}
